<!-- <img src="../images/cook.jpg" class="img-responsive height-change" alt=""> -->
<div class="welcome-content1">
    <div class="container">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <i class="fa fa-bars fa-2x link text-white pull-left margin-top-siderbarIcon" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart link fa-2x text-white pull-right margin-top-siderbarIcon" aria-hidden="true"></i>
                <center>
                    <p class="home-heading">WE COOK.YOU BOOK.</p>
                    <p class="home-subheading">THE GREATEST FOOD AWAITS YOU</p>
                </center>
            </div>
        </div>
    </div>
</div>
<div class="location-bar">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <table class="pull-left">
                <tbody>
                    <tr>
                        <td>
                          <i class="fa fa-map-marker fa-2x text-white margin-top-lcoationmarker" aria-hidden="true"></i>
                        </td>
                        <td>
                            <input type="text" 
                            typeahead-on-select="model.loadCityRestaurants()"
                            ng-model="model.city"
                            uib-typeahead="item for item in model.cities | filter:$viewValue | limitTo:8"
                            class="location-box"
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="pull-right location-barVertical">|</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul class="list-inline pull-right margin-top-rightLocationBar">
                <li>
                    <i class="fa fa-lemon-o fa-2x link text-white margin-right-rightLocationBarICon" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-snowflake-o fa-2x link text-white margin-right-rightLocationBarICon" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-envira fa-2x link text-white margin-right-rightLocationBarICon" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-cubes fa-2x link text-white margin-right-rightLocationBarICon" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-pagelines fa-2x link text-white margin-right-rightLocationBarICon" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
<div class="restaurant-container">
    <div class="container">
        <div ng-if="model.restaurants.length>0" class="row">
            <div 
            ng-repeat="restaurant in model.restaurants"
            class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="restaurant-card">
                        <img class="restaurant-thumbnail img-responsive" src="{{restaurant.image_url}}" alt="">
                        <p class="restaurantcard-title">{{restaurant.name}}</p>
                        <p class="restaurantcard-address">{{restaurant.address}},{{restaurant.city}}</p>
                        <hr class="restaurantcard-horizontalLine">
                        <p class="restaurantcard-price">${{restaurant.price}}</p>
                        <ul class="list-inline restaurantcard-btnList">
                            <li>
                                <a ng-click="model.openDetails(restaurant)" class="btn btn-details">
                                    DETAILS
                                </a>
                            </li>
                            <li>
                                <a ng-click="model.openBooking(restaurant)" class="btn btn-book">
                                    BOOK NOW
                                </a>
                            </li>
                        </ul>
                        <!-- <ul class="list-unstyled pull-right">
                            <li ui-sref="restaurant({id : restaurant.id})"class="padding-top-md link">
                                {{restaurant.name}}
                            </li>
                            <li class="padding-top-lg">{{restaurant.city}}</li>
                        </ul> -->
                </div>  
            <!-- <ul class="list-inline text-center pull-left padding-top-md padding-left-lg">
                <li class="">
                    <span ui-sref="context({ context : context._id,level: 'level1'})" class="context-title link">{{context.name | shortname}}</span>
                </li>
                </ul> -->
                <!-- <ul class="list-unstyled pull-right">
                <li ui-sref="restaurant({id : restaurant.id})"
                    class="padding-top-md link">{{restaurant.name}}</li>
                <li class="padding-top-lg">{{restaurant.city}}</li>
                </ul> -->
            </div>
        </div>
        <div ng-if="model.restaurants.length === 0" class="row">
            <p class="norestaurant-text">No restaurants found at {{$state.params.city}}.
                Please search any other city in the above section.</p>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <center>
                        <i class="fa fa-cutlery fa-4x margin-top-bottomLogo" aria-hidden="true"></i>
                        <ul class="list-inline margin-top-bottomSocialIconList">
                            <li>
                                <i class="fa fa-2x fa-facebook margin-left-socialIcons" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-2x fa-twitter margin-left-socialIcons" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-2x fa-instagram margin-left-socialIcons" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </center>
                    <ul class="list-inline margin-top-bottomLastList pull-left">
                        <li>
                            <p>Contact  <span class="margin-left-footervertical">|</span></p>
                        </li>
                        <li>
                            <p>Terms of Use  <span class="margin-left-footervertical">|</p>
                        </li>
                        <li>
                            <p>Privacy Policy</p>
                        </li>
                    </ul>
                    <ul class="list-inline margin-top-bottomLastList pull-right">
                        <li>
                            <p>Copyright@713.All Rights Reserved.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

