<div>
    <div class="modal-header">
        <h3 class="modal-title">
            <button type="button" class="close" ng-click="model.cancel()">&times;</button>
            <h4 class="modal-title text-muted">{{model.title}}</h4>
        </h3>
    </div>
    <div class="modal-body">
      <table>
        <tbody>
          <tr>
            <td>
              Name:
            </td>
            <td><p class="text-restaurantDetails">{{model.restaurant.name}}</p></td>
          </tr>
          <tr>
            <td>
              Adddress:
            </td>
            <td><p class="text-restaurantDetails">{{model.restaurant.address}}</p></td>
          </tr>
          <tr>
            <td>
                Phone Number:
            </td>
            <td><p class="text-restaurantDetails">{{model.restaurant.phone}}</p></td>
          </tr>
          <tr>
            <td>
                Country:
            </td>
            <td><p class="text-restaurantDetails">{{model.restaurant.country}}</p></td>
          </tr>
          <tr>
            <td>
                Price:
            </td>
            <td><p class="text-restaurantDetails">{{model.restaurant.price}}</p></td>
          </tr>
        </tbody>
      </table>
      <!-- <ul class="list-unstyled">
        <li>
          <ul class="list-inline">
            <li>Name:</li>
            <li><p class="text-restaurantDetails">{{model.restaurant.name}}</p></li>
          </ul>
        </li>
        <li>
          <ul class="list-inline">
            <li>Adddress:</li>
            <li><p class="text-restaurantDetails">{{model.restaurant.address}}</p></li>
          </ul>
        </li>
        <li>
          <ul class="list-inline">
            <li>Phone Number:</li>
            <li><p class="text-restaurantDetails">{{model.restaurant.phone}}</p></li>
          </ul>
        </li>
        <li>
          <ul class="list-inline">
            <li>Country:</li>
            <li><p class="text-restaurantDetails">{{model.restaurant.country}}</p></li>
          </ul>
        </li>
        <li>
          <ul class="list-inline">
            <li>Price:</li>
            <li><p class="text-restaurantDetails">${{model.restaurant.price}}</p></p></li>
          </ul>
        </li>
      </ul> -->
    </div>
  </div>
  