/** for larger screens **/
@media screen and (min-width: 100px) and (max-width: 549px) {

      .welcome-content1{
        background :  url('/images/cook.jpg');
        background-color : rgba(0,0,0,.7);
        background-size : 100% 100%;
        height: 50vh;
        color : #fff;
        position: relative;
        background-blend-mode: multiply;
      }

      .home-heading{
        margin-top:18%;
        display: block;
        color:#fff;
        padding-top: 18px;
        font-style: bold;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        letter-spacing: 0.1em;
        font-size: 2em;
      }
    
      .home-subheading{
        display: block;
        color:#fff;
        font-style: bold;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 1.8em;
      }

      .restaurant-container{
        background-color: #eeeeee;
        width:100%;
      }
      
      .location-bar{
        width:100%;
        height:120px;
        background-color: #E3373B;
      }
    
      .text-white{
        color: white;
      }
    
      .margin-top-siderbarIcon{
        margin-top: 5%;
      }
    
      .location-box{
        border: 0;
        outline: 0;
        background: transparent;
        margin-top:15px;
        margin-left:10px;
        width:98%;
        border-bottom:1px solid white;
        color:white;
        font-size:1.5em;
        font-weight:600;
        padding-left:2px;
      }
    
      [uib-typeahead-popup].dropdown-menu {
        display: block;
        width: 83%;
      }
    
      .footer-bar{
        margin-top:90px;
        width:100%;
        height:300px;
        color: white;
        background-color : rgba(0,0,0,.8);
      }
    
      .margin-top-bottomLogo{
        margin-top:60px;
      }
    
      .margin-top-bottomSocialIconList{
        margin-top:30px;
      }
    
      .margin-left-socialIcons{
        margin-left:30px;
      }
    
      .margin-top-bottomLastList{
        margin-top:60px;
      }
    
      .margin-left-footervertical{
        margin-left:10px;
      }

      .margin-reservation-button{
        margin-top:10px;
        margin-left:0px;
      }
      
      .margin-top-homepanel{
        margin-top:55px;
      }
      
      .oiSelect{
        .select-dropdown{
          z-index: 1000;
        }
      }
      
      // For rounded buttons
      .btn-round{
        border-radius:4px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
      }
      
      .restaurant-card{
        border:2px solid #F1EEEE;
        border-radius: 5px;
        height:550px;
        width:100%;
        margin-top:10px;
        background-color: white;
      }
    
      .location-barVertical{
        margin-top: 0px;
        font-size: 0.01em;
        color: #E3373B;
        display: hidden;
      }
      
      .restaurantcard-title{
        font-size: 1em;
        margin-top:15px;
        text-align: center;
        font-weight: 500;
      }
    
      .restaurantcard-address{
        font-size: 1em;
        margin-top:10px;
        text-align: center;
        font-weight: 200;
      }
    
      .restaurantcard-horizontalLine {
        margin-top:10px;
        width:30%;
        border-top: 3px double #C5BFBF;
      }
    
      .restaurantcard-price{
        font-size: 1.5em;
        margin-top:5px;
        color:#E3373B;
        letter-spacing:1px;
        text-align: center;
        font-weight: 700;
      }
    
      .margin-right-rightLocationBarICon{
        margin-right:15px;
      }
    
      .margin-top-rightLocationBar{
        margin-top: 10px;
      }
    
      .restaurantcard-btnList{
        text-align: center;
        margin-top:10px;
      }


      .text-restaurantDetails{
        color: grey;
        margin-left:10px;
        font-size: 2em;
        font-weight: 900;
      }
      
      .bookingtitle-text{
        margin-top:60px;
        margin-left:40px;
        line-height:10px;
        font-size:1.3em;
        font-weight:600;
      }

      .loading-spiner-holder{
        text-align: center;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: #fff;
        background: #000;
        opacity: 0.8;
        filter: alpha(opacity = 80);
        z-index: 1060;
        font-size: 1.2em;
        .loading-spiner{
          position: absolute;
          left: 48%;
          top: 46.5%;
          z-index: 2003;
          .fa {
              font-size: 1.5em;
              margin-right: 10px;
          }
        }
      }
      
      .top-navbar{
        padding: 5px 0 5px 0;
        background-color: #1c5d84;
        height:50px;
        text-align: center;
      }
      
      .home-text{
        display: block;
        color:#1c5d84;
        font-size: 1.2em;
        margin-left: 2px;
        margin-left: 15px;
        margin-top:5px;
        margin-bottom:5px;
        padding:5px;
        font-style: bold;
        font-weight: 900;
        letter-spacing: 0.1em;
      }
      
      .home-panel-header{
        background-color: white !important;
      }
      
      .bookingFormTextbox{
        width:100%;
        margin-top:15px;
      }

      .text-left{
        text-align: left;
      }

      .margin-left-md{
        margn-left:60px;
      }
      
      .bookingform-margin{
        margin-top:20px;
        margin-left:10px;
      }
      
      .restaurant-back-button{
        margin-left:15px;
        margin-right:0px;
        margin-top:15px;
      }
      
      .brand {
          display: block;
          color:rgb(250, 250, 250);
          font-size: 2em;
          line-height: 5%;
          cursor:pointer;
          padding-top: 20px;
          font-style: bold;
          font-weight: 900;
          letter-spacing: 0.1em;
      }
      
      .homesearch-nav {
          width:100% !important;
          margin-left:5px;
          margin-top:1px;
      }

      .norestaurant-card{
        border:1px solid #8BA5B4;
        border-radius: 5px;
        height:180px;
        width:50%;
        margin-left:50px;
        margin-top:30px;
        color: red;
        background-color: white;
      }
      
      .text-bookingsuccess{
        color: green;
        font-size:1em;
        font-weight: 500;
      }

      .norestaurant-text{
        font-size: 15px;
        text-align: center;
        margin-top:15px;
      }
      
      .restaurant-thumbnail{
        margin-top:0px;
        width: 100%;
        height:50%;
      }
      
      .home-globe{
        margin-top:5px;
        margin-left:20px;
      }
      
      .home-citypoint{
        margin-top:5px;
        margin-left:30px;
      }
      
      .count-text{
        color: #1c5d84;
        margin-left:5px;
      }
      .countries-text{
        font-size: 1em;
        font-weight: 600;
        margin-left:20px;
      }
      
      .restaurant-text{
        cursor:pointer;
        margin-top:5px;
        font-size: 15px;
        font-weight: 400;
      }
      
      .restaurantcity-text{
        margin-top:0px;
        font-size: 12px;
        font-weight: 300;
      }
      
      .restaurant-image{
        margin-top:20px;
      }
      
      .restaurant-title{
        font-size:1.3em;
        font-weight:400;
        margin-left:10px;
        margin-top:15px;
      }
      
      .restaurant-city{
        font-size:1em;
        font-weight:200;
        margin-left:10px;
        margin-top:5px;
      }
      
      .restaurant-price{
        font-size:1em;
        font-weight:200;
        margin-left:10px;
        margin-top:5px;
      }
      
      .restaurant-phone{
        font-size:1em;
        font-weight:200;
        margin-left:10px;
        margin-top:5px;
      }
      
      .address-text{
        margin-top:20px;
        margin-left:0px;
        line-height:10px;
        font-size:1em;
        font-weight:400;
      }
      
      .bookingtitle-text{
        margin-top:20px;
        margin-left:70px;
        line-height:10px;
        font-size:1em;
        font-weight:400;
      }

      .address{
        margin-top:5px;
        margin-left:0px;
        font-size:1em;
        font-weight:300;
      }
    
      @mixin button-search-variant($color, $background, $border) {
        color: $background;
        background-color: $color;
        border-color: $border;
        outline: none !important;
        box-shadow: none !important;
        border-radius : 4px !important;
        height: 35px;
        width:80px;
        margin-bottom:10px;
        font-weight: 300;
        font-size: 1em;
        padding-top:6px;
      
        &:focus,
        &.focus {
          color: $color;
          background-color: $background;
              border-color: $color;
        }
        &:hover {
          color: $color;
          background-color: $background;
              border-color: $color;
        }
        &:active,
        &.active,
        .open > &.dropdown-toggle {
          color: $color;
          background-color: $background;
              border-color: $color;
      
          &:hover,
          &:focus,
          &.focus {
            color: $color;
            background-color: $background;
                border-color: $color;
          }
        }
        &:active,
        &.active,
        .open > &.dropdown-toggle {
          background-image: none;
        }
        &.disabled,
        &[disabled],
        fieldset[disabled] & {
          &:hover,
          &:focus,
          &.focus {
            background-color: $background;
                border-color: $border;
          }
        }
      
        .badge {
          color: $background;
          background-color: $color;
        }
      }
      
      @mixin button-book-variant($color, $background, $border) {
        color: $background;
        background-color: $color;
        border-color: $border;
        outline: none !important;
        box-shadow: none !important;
        border-radius : 4px !important;
        height: 35px;
        width:90%;
        margin-left:10px;
        font-weight: 700;
        font-size: 1.2em;
        padding-top:6px;
      
        &:focus,
        &.focus {
          color: $color;
          background-color: $background;
              border-color: $color;
        }
        &:hover {
          color: $color;
          background-color: $background;
              border-color: $color;
        }
        &:active,
        &.active,
        .open > &.dropdown-toggle {
          color: $color;
          background-color: $background;
              border-color: $color;
      
          &:hover,
          &:focus,
          &.focus {
            color: $color;
            background-color: $background;
                border-color: $color;
          }
        }
        &:active,
        &.active,
        .open > &.dropdown-toggle {
          background-image: none;
        }
        &.disabled,
        &[disabled],
        fieldset[disabled] & {
          &:hover,
          &:focus,
          &.focus {
            background-color: $background;
                border-color: $border;
          }
        }
      
        .badge {
          color: $background;
          background-color: $color;
        }
      }
    
      .btn-search{
        @include button-search-variant(#1c5d84, #fff,#d4d4dc);
      }
      
      .btn-book{
        @include button-book-variant(black, #fff,black);
      }

      .btn-details{
        @include button-book-variant(#fff, black,black);
      }
      
    }   